<nav class="nav">
  <a class="nav-item" routerLink="/home" routerLinkActive="active">Home</a>
  <a class="nav-item" routerLink="/favourites" routerLinkActive="active"
    >Favourites</a
  >
  <a class="nav-item" routerLink="/signout" routerLinkActive="active"
    >Sign out</a
  >
  <span class="nav-indicator"></span>
</nav>
<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2>Search.com</h2>
        <p>Find your favourite film and/or serie</p>
      </div>
    </div>
  </div>
</div>
